body {
    padding: 0;
    margin: 0;
}

.heading {
    text-align: center;
    border: 2px solid #ad342b;
    background-color: #83c6e6;
    width: 600px;
    margin: 20px auto;
}

table {
    border: 1px solid black;
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px 20px;
}
th {
    background-color: #83c6e6;
}